.hex-empty {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  fill: #586e75; }

.hex-empty:hover {
  fill: #93a1a1; }

.hex-empty:active {
  fill: #073642; }

.hex-filled-player1 {
  fill: #268bd2; }

.hex-filled-player2 {
  fill: #dc322f; }

html {
  background: #fdf6e3;
  font: 100% Helvetica, sans-serif; }

.player1 {
  color: #268bd2; }

.player2 {
  color: #dc322f; }
